[bumpversion]
current_version = 2.0.0

[bumpversion:file:README.md]

[bumpversion:file:python/setup.py]

[bumpversion:file:include/constants.h]

[bumpversion:file:matlab/scs.m]

[bumpversion:file:r/configure.ac]

[bumpversion:file:r/DESCRIPTION]

