examples/matlab/DIMACS_mat_files.zip
.settings
.cproject
.project
.pydevproject
.idea
*.pyc
*dSYM
*demo_direct
*demo_indirect
python/build/
.swo
*.o
*.a
*.DS_Store
*.out
*.nav
*.dvi
*.ps
*.pdf
*.aux
*.log
*.bbl
*.blg
*.toc
*.swp
*.m~
*.mat
*.mex*
*.mexmaci
*.mexa64
*.mexmaci64
*.out
*.dependencies
