*.gcno
*.csv
*.iml
docs/*
!docs/src
examples/DIMACS/
local.mk
sftp-config.json
.settings
.cproject
.project
.pydevproject
.idea
*.pyc
*dSYM
*demo_direct
*demo_indirect
python/flags.tmp
python/.coverage
python/build/
python/cover/
python_dist
linsys_dense/out
out
.swo
*.o
*.a
*.DS_Store
*.out
*.nav
*.dvi
*.ps
*.pdf
*.aux
*.log
*.bbl
*.blg
*.toc
*.swp
*.m~
*.mat
*.mex*
*.mexmaci
*.mexa64
*.mexmaci64
*.dependencies
*.classpath
*.class
*.dylib
*.jar
hs21_tiny_qp
rob_gauss_cov_est
build/
