---
name: Build and Test

on: [push, pull_request]

jobs:
  linux:
    strategy:
      fail-fast: false
      matrix:
        long: [0, 1]
        lapack: [0, 1]

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt-get install libopenblas-dev liblapack-dev
      - run: make DLONG=${{ matrix.long }} USE_LAPACK=${{ matrix.lapack }}
      - run: make test DLONG=${{ matrix.long }} USE_LAPACK=${{ matrix.lapack }}
      - run: out/run_tests_direct    # test direct solver
      - run: out/run_tests_indirect  # test indirect solver

  #  runs-on: windows-latest
  #  steps:
  #    - uses: actions/checkout@v4
  #    - run: choco install clapack
  #    - run: make
  #    - run: make test
  #    - run: test/run_tests

  mac:
    strategy:
      fail-fast: false
      matrix:
        long: [0, 1]
        lapack: [0, 1]

    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - run: brew install openblas lapack
      - run: make DLONG=${{ matrix.long }} USE_LAPACK=${{ matrix.lapack }}
      - run: make test DLONG=${{ matrix.long }} USE_LAPACK=${{ matrix.lapack }}
      - run: out/run_tests_direct    # test direct solver
      - run: out/run_tests_indirect  # test indirect solver
