---
name: Build and Test cudss

on: [push, pull_request]

jobs:
  linux:
    strategy:
      fail-fast: false

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: Jimver/cuda-toolkit@v0.2.28
        id: cuda-toolkit
        with:
          method: network
          non-cuda-sub-packages: '["libcublas", "libcusparse", "libcudart"]'

      - name: Install deps
        run: sudo apt-get install libopenblas-dev liblapack-dev
      - name: Install cudss
        run: sudo apt-get -y install cudss

      - name: Build SCS cudss
        run: |
          mkdir out
          export INSTALL_DIR=$PWD/out
          export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$INSTALL_DIR/lib
          mkdir build
          cd build
          cmake -DBUILD_TESTING=ON -DDLONG=0 -DUSE_CUDSS=1 -DCMAKE_INSTALL_PREFIX:PATH=$INSTALL_DIR ..
          make
          make install
        #   ctest --output-on-failure
